<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabelEdit"></h4>
</div>
<div class="modal-body">
  <div id="addFormCenter">
    <div class="col-sm-10 form-group-lg">
      <h5>Edit Book</h5>
      
      <%= render 'form', book: @book %>
      
    </div>
  </div>
</div>
