<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabelShow"></h4>
</div>
<div class="modal-body">
  <div id="addFormCenter">
    <div class="col-sm-10 form-group-lg">
      <h5>Show Book</h5>
      <p id="notice"><%= notice %></p>  
      <p>
        <strong>Name:</strong>
        <%= @book.name %>
      </p>
    </div>
  </div>
</div>